.mauChu {
    color: rgb(57, 133, 238);
}

.fontChu {
    font-size: 30px;
}

.bg {
    width: 100%;
    height: 200px;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: lemonchiffon;
    font-weight: bold;
    font-size: 20px;
}